.panel-default>.panel-heading {
    height: 60px;
    background-color: #e4e4e4;
}

.btn-title {
    float: right;
}

.form-add-item {
    display: none;
}

.form-item {
    width: 500px;
    margin-top: -20px;
    margin-left: -281px;
    position: relative;
    display: none;
}

.form-item .form-item-actions input, .form-item .form-item-actions button{
    height: 30px;
    padding: 0 12px;
}

.form-add-item .actions {
    width: 110px;
}

.actions .btn-light {
    background: #989898;
    color: #fff;
    font-weight: bold;
}

.btn-title .btn-light {
    background: #989898;
    color: #fff;
    font-weight: bold;    
}

.form-add-item form {
    background-color: #f3f3f3;
    padding: 15px;
    margin-bottom: 30px;
}

.form-add-item form legend {
    margin-bottom: 0;
    font-size: 16px;
    border-bottom: none;
}

.form-add-item .table td{
    border: none;
}

.form-add-item .table td input[type='submit'] {
    padding: 2px 13px;
}

#table-items .actions{
    width: 155px !important;
    display: block;
    position: relative;
}


.db-container {
    padding: 30px 0 0 0;
}

.db-container .news .image img{
    width: 100%;
}

.numbers {
    border-right: 1px dashed;
    padding-right: 30px;
    height: 100%;
}

.numbers .list-group-item {
    margin-bottom: 50px;
    background-color: #bbb;
    height: 160px;
    padding-top: 40px;
}

.numbers .list-group-item h2 {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
}

.numbers .list-group-item span {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    width: 100%;
    display: block;
}

.news h2 {
    font-weight: bold;
}

.news .content img {
    /* float: right; */
    width: 300px;
}

footer {
    height: 90px;
    border-top: 1px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 0px;
    background-color: #d6d6d6;
    overflow: hidden;
}

footer .time{
    width: 100px;
    border-right: 1px dashed;
    float: left;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    height: 90px;
    padding-top: 26px;
}

footer .weather{
    text-align: center;
    width: 300px;
    font-size: 22px;
    font-weight: bold;
    height: 90px;
    padding-top: 26px;
}






#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    height: 650px !important;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 0 !important;
    height: 100% !important;
    width: 100% !important;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0px;
    padding: 20px;
    height: 100%;
    text-align: left;
    margin-left: -25px;
  }

  #slider ul li p {
    text-align: left;
    line-height: 1.5;
    font-size: 17px;
  }


  #slider ul li img {
      width: 500px;
      float: right;
      margin: 20px;
  }

  #slider .content {
      
  }
  

@media (min-width: 1800px) {
    .container.full-screen {
        width: 100%;
    }   
}
